.meals {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.meal {
  border: 1px solid var(--colour-1);
  border-radius: 15px;
  padding: 20px;
}

.meal .meal_ingredient {
  border: 1px solid var(--colour-2);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 5px;
}
