.plans {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.plan {
  border: 1px solid var(--colour-1);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.plan .plan-details {
  border: 1px solid var(--colour-3);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}
.plan .day_set {
  border: 1px solid var(--colour-2);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.plan_buttons {
  position: sticky;
  left: 100%;
  /* border: 2px solid var(--colour-4); */
  display: inline;
}
