@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
/* @import url("https://unpkg.com/mvp.css"); */

:root {
  --colour-1: #65d8af;
  --colour-2: #e8128c;
  --colour-3: #f8d545;
  --colour-4: #913abd;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  background-color: #222;
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid red;
}

body > div#root {
  min-height: 100vh;
  height: fit-content;
}

body > div#root > footer {
  position: sticky;
  top: 100vh;
  background-color: rebeccapurple;
  max-width: 100vw;
}

nav {
  margin: 0 30px 30px 30px;
}

main {
  margin: 30px;
}
a {
  color: #65d8af;
}

.clickable {
  cursor: pointer;
}

button {
  cursor: pointer;
}

input {
  margin-bottom: 5px;
}

.meal {
  border: 1px solid var(--colour-1);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.meal .meal_ingredient {
  border: 1px solid var(--colour-2);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}

.plan {
  border: 1px solid var(--colour-1);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
}

.plan .plan-details {
  border: 1px solid var(--colour-3);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}
.plan .day_set {
  border: 1px solid var(--colour-2);
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
}
